body {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		background-image:url(../images/Backgroundimage.png);
		background-size: cover;
		z-index: -1;
		margin-bottom: 75px;
		overflow: auto;
}

html{position: relative;
	min-height: 100%
}

body, html{padding: 0;
		margin: 0;
}


ul, li{float: left;
	text-decoration: none;
	color: #777777;
	background-color: #FFFFFF;
	display: inline-block;
}


h1,h2,h3{font-family: 'Georgia', Times, 'Times New Roman', serif;
}


h1{color: #ffffff;
	background: #4aaaa5;
	width: 400px;
	line-height: 200%;
	padding: 50px;
	margin-right: 0;
	display: inline-block;
}


h2{color: #4aaaa5;
	padding-left: 10px;
	text-align: left;
}


h3{color:#4aaaa5;
	border-bottom: 1px solid #777777;
}


a{display: block;
	padding: 10px;
	text-decoration: none;
	color: #777777;
}

p{color:#777777;
}

form{background-color: #fbf4f8;
}

aside{float: left;
		display: inline-block;
}



.main-index{width: 570px;
		float: left;
		padding: 10px;
		color: #777777;
		background-color: #ffffff;
		border: 2px solid #dddddd;
		margin-left: 40px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
}

.main-contact{width: 570px;
		height: 595px;
		float: left;
		padding: 10px;
		color: #777777;
		background-color: #ffffff;
		border: 2px solid #dddddd;
		margin-left: 40px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		overflow: auto;
}

.main-portfolio{width: 570px;
		float: left;
		padding: 10px;
		color: #777777;
		background-color: #ffffff;
		border: 2px solid #dddddd;
		margin-left: 40px;
		margin-right: 20px;
		margin-top: 20px;
}


#portfolioimg{width: 170px;
			height: 130px;
			margin: 0;
			padding: 0;
			border: 20px solid #ffffff;
			float: left;
			display: inline-block;
}


.links{float: left;
		background-color: #ffffff;
		border: 2px solid #dddddd;
		border-padding: 20px;
		border-margin: 20px;
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 80px;
		display: inline-block;
		width: 250px;
		align-items: center;
}

#me{float: left;
	padding: 10px;
}

#button{color: #FFFFFF;
		background-color: #4aaaa5;
		background-size: contain;
		text-align: center;
		border: none;
		padding: 10px;
}

#footer{background-color: #666666;
		padding-top: 15px;
		text-align: center;
		position: relative;
		bottom: 0;
		width: 100%;
		height: 70px;
		border-top: 2px solid #4aaaa5;
		clear: left;
		margin-top: 60px;
}
